.custom-calendar .p-calendar input {
  background-color: #e5e7eb; /* Same as bg-gray-200 */
  border: none; /* Remove border */
  color: #374151; /* Text color similar to text-gray-800 */
 
}
.custom-calendar .p-calendar input:focus{
    outline: none;
  }

.custom-calendar .p-calendar {
  width: 100%; /* Full width */
  &:focus{
    outline: none;
  }
}

.custom-calendar .p-inputtext {
  background-color: #e5e7eb; /* Background color for input */
  &:focus{
    outline: none;
  }
}